{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'forms/css/styles.css' %}"/>
    <title>授業アンケート検索</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>授業アンケート検索</h1>
    <form class="search-form" action="" method="get">
      <table>
        <tr>
          <td><label for="id_class_name">授業名：</label></td>
          <td><input name="class_name" id="id_class_name" value="{{ request.GET.class_name }}" type="text" /></td>
        </tr>
      </table>
      <div class="search-btn-container">
        <button type="submit">検索</button>
      </div>
    </form>
  </body>
</html>

